<h3>Калькулятор</h3>
<div>
  <input type="text" [(ngModel)]="leftValue" name="leftValue">
  <input type="text" [(ngModel)]="rightValue" name="rightValue">
  <button type="button" (click)="onButtonClick()">Сложить</button>
</div>
<div>
  {{result}}
</div>
